# Dataset directory
dataset/

# Checkpoint directory
checkpoint/

# Logs directory
logs/

# Temporary files
running.log

# Outputs files
outputs/pkls/

# Hugging Face cache
.hf_cache/

# vscode settings
.vscode/

# Python cache files
__pycache__/
models/__pycache__/
models/GNNs/__pycache__/
models/LMs/BERT_LRP/code/model/__pycache__/
models/LMs/BERT_LRP/code/util/__pycache__/

# Tests files
tests/

