# Dataset directory
dataset/

# Checkpoint directory
checkpoint/

# Logs directory
logs/

# Temporary files
running.log

# Outputs files
outputs/

# Hugging Face cache
.hf_cache/

# vscode settings
.vscode/

# Python cache files
__pycache__/

# Tests files
tests/